@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

#info-table {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7em;
    font-weight: 300;
    line-height: 1.42em;
    color: #ecf0f4;
    text-align: center;
    background-color: #1F2739;
    width: auto;
}

#info-table h1 {
    font-weight: bold;
    line-height: 1em;
    text-align: center;
    color: #4DC3FA;
}

.blue {
    color: #185875;
}

.yellow {
    color: #FFF842;
}

.table-container th h1 {
    font-weight: bold;
    font-size: 1em;
    color: #185875;
}

.table-container td {
    font-weight: normal;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;
}

.table-container {
    text-align: left;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
}

.table-container td, .table-container th {
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 2%;
}

/* Background-color of the odd rows */
.table-container tr:nth-child(odd) {
    background-color: #323C50;
}

/* Background-color of the even rows */
.table-container tr:nth-child(even) {
    background-color: #2C3446;
}

.table-container th {
    background-color: #1F2739;
}

.table-container td:first-child {
    font-weight: bold;
}

.table-container td:nth-child(3) {
    color: #FB667A;
}

.table-container tr:hover {
    background-color: #464A52;
    -webkit-box-shadow: 0 6px 6px -6px #0E1119;
    -moz-box-shadow: 0 6px 6px -6px #0E1119;
    box-shadow: 0 6px 6px -6px #0E1119;
}

.table-container td:hover {
    background-color: #FFF842;
    color: #403E10;
    font-weight: bold;

    box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
    transform: translate3d(6px, -6px, 0);

    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: linear;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4dc3fa;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4da3fa;
}